#page-home {
  height: 100%;
  background: url("../assets/undraw_through_the_park_lxnl.svg") no-repeat;
  background-position: 50vw bottom;
}

#page-home .content {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#page-home header {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#page-home main {
  max-width: 560px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-home main h1 {
  font-size: 54px;
}

#page-home main p {
  font-size: 24px;
  line-height: 38px;
  margin-top: 24px;
}

#page-home main .buttons-container {
  margin-top: 40px;
  margin-bottom: 100px;
}
#page-home main h5 {
  line-height: 38px;
  margin-top: 10px;
}

#page-home main .pesquisa {
  width: 100%;
  max-width: 360px;
  height: 72px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  background-color: var(--primary-color);
  transition: 400ms;
}

#page-home header .pesquisa span {
  background-image: url("../assets/log-in.svg");
  width: 20px;
  height: 20px;
  display: flex;
  margin-right: 16px;
}

#page-home main .cadastro {
  width: 100%;
  max-width: 360px;
  height: 72px;
  border-radius: 16px;
  display: flex;
  align-items: center;

  background-color: #db8686;
  transition: 600ms;
}

#page-home main .community {
  width: 100%;
  max-width: 360px;
  height: 72px;
  border-radius: 16px;
  display: flex;
  align-items: center;

  background-color: #db8686;
  transition: 400ms;
}

#page-home main .tutorials {
  width: 100%;
  max-width: 360px;
  height: 72px;
  border-radius: 16px;
  display: flex;
  align-items: center;

  background-color: #db8686;
  transition: 400ms;
}

#page-home main .community {
  width: 100%;
  max-width: 360px;
  height: 72px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  background-color: #db8686;
  transition: 400ms;
}

#page-home main a span {
  width: 72px;
  height: 72px;
  background-color: rgba(0, 0, 0, 0.08);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-home main .pesquisa span::after {
  content: "";
  background-image: url("../assets/seearch.svg");
  width: 20px;
  height: 20px;
}

#page-home main .TBC {
  width: 100%;
  max-width: 360px;
  height: 72px;
  border-radius: 16px;
  display: flex;
  align-items: center;

  background-color: var(--primary-color);
  transition: 400ms;
}

#page-home main .rules {
  width: 100%;
  max-width: 360px;
  height: 72px;
  border-radius: 16px;
  display: flex;
  align-items: center;

  background-color: var(--primary-color);
  transition: 400ms;
}

#page-home main .cadastro span::after {
  content: "";
  background-image: url("../assets/register.svg");
  width: 20px;
  height: 20px;
}

#page-home main a strong {
  flex: 1;
  color: white;
  text-align: center;
}
