:root {
  --title-color: #1b4043;
  --primary-color: #33806d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  background: #fbf0f0;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--title-color);
  font-family: Ubuntu, sans-serif;
}
